.about-container {
    text-align: left;
    padding: var(--main-vertical-padding) var(--main-horizontal-padding);
}

.about-me {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
}

.about-me-image{
    min-height: 170px;
    min-width: 170px;
    background-size: cover;
    background-position: -18px 3px;
    background-size: 210px;
    border-radius: 50%;
    background-image: url('https://i.ibb.co/dtxKjLd/avatar-1.jpg');
    overflow: hidden;
    margin-bottom: 20px;
}

.about-me-detail {
    box-shadow: 2px 2px 12px var(--shadow);
    padding: 10px 20px;
    background-color: var(--basic-color);
    width: 57vw;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about-me-detail-description p {
    line-height: 28px;
    font-size: 16px;
}

.about-me-detail-description {
    width: 47%;
}

.about-me-detail-skill {
    width: 47%;
}

.skill {
    padding: 0 0 14px;
}

.skill-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-text {
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0;
}

.progress-container {
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background: #f1f1f1;
    overflow: hidden;
}

.progress-skill-1{
    width: 90%;
    height: 6px;
    background: #ffd05c;
}

.progress-skill-2{
    width: 85%;
    height: 6px;
    background: #44d7b6;
}

.progress-skill-3{
    width: 80%;
    height: 6px;
    background: #f33a4e;
}

.progress-skill-4{
    width: 80%;
    height: 6px;
    background: #6c6ce5;
}


@media screen and (max-width: 1024px) {
    .about-me-detail {
        width: 62vw;
    }  
}

@media screen and (max-width: 992px) {
    .about-me-detail {
        width: 59vw;
    }  
}

@media screen and (max-width: 600px) {

    .about-me-detail-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .about-me-detail-description p {
        text-align: center;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-me-detail {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }
    
    .about-me-detail-description {
        width: 100%;
    }

    .about-me-detail-skill {
        width: 100%;
    }
}