.main-content {
    height: 100vh;
    margin-top: 70px;
    padding: var(--main-vertical-padding) var(--main-horizontal-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-img-frame {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    margin-top: 50px;
}

.main-content-img-frame img {
    margin-left: -10px;
}

.main-content-title {
    font-size: 38px;
    margin: 18px 0 0;
    letter-spacing: 1.2px;
    font-family: 'Barlow Condensed', sans-serif;
}

.main-content-what-i-am {
    font-size: 16px;
    margin: 10px 0 0;
    font-family: 'Heebo', sans-serif;
}

.main-content-media-social {
    padding: 35px 0 ;
    display: flex;
    justify-content: center;

}

.main-content-icon {
    padding: 5px 10px;
    margin: 0 5px;
    transition: all .5s;
    cursor: pointer;
    transform: translateY(0);
}

.main-content-icon:hover {
    transform: translateY(-10px);
}

@keyframes example {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scale(.78);
    }
    100% {
        transform: scale(1);
    }
}
