.main-content {
    height: 100vh;
    margin-top: 70px;
    padding: var(--main-vertical-padding) var(--main-horizontal-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-img-frame {
    margin-top: 50px;
    min-height: 110px;
    min-width: 110px;
    background-size: cover;
    background-position: -10px 3px;
    background-size: 130px;
    border-radius: 50%;
    background-image: url('../../assets//images/avatar-2.jpg');
    overflow: hidden;
}

.main-content-title {
    font-size: 38px;
    margin: 18px 0 0;
    letter-spacing: 1.2px;
    font-family: 'Barlow Condensed', sans-serif;
}

.main-content-what-i-am {
    font-size: 16px;
    margin: 10px 0 0;
    font-family: 'Heebo', sans-serif;
}

.main-content-media-social {
    padding: 35px 0 ;
    display: flex;
    justify-content: center;

}

.main-content-icon {
    padding: 5px 10px;
    margin: 0 5px;
    transition: all .5s;
    cursor: pointer;
    transform: translateY(0);
}

.main-content-icon:hover {
    transform: translateY(-10px);
}

.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #f33a4e radial-gradient(circle, transparent 1%, #f95667 1%) center/15000%;
  }
  .ripple:active {
    background-color: #f33a4e;
    background-size: 100%;
    transition: background 0s;
  }

  
button {
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #f33a4e;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

button:focus {
    outline: none;
}

button:hover {
    animation-name: example;
    animation-duration: .3s;
}

@keyframes example {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scale(.78);
    }
    100% {
        transform: scale(1);
    }
}


@media screen and (max-width: 1024px) {
    .main-content{
        padding: var(--main-vertical-padding) var(--main-horizontal-padding-lg);
    }
}

@media screen and (max-width: 992px) {
    .main-content {
        padding: var(--main-vertical-padding) var(--main-horizontal-padding-md);
    }
}

@media screen and (max-width: 600px) {
    .main-content {
        padding: var(--main-vertical-padding) var(--main-horizontal-padding-sm);
    }
}