.particles-container {
    display: block;
    position: relative;
}

.particle {
    position: absolute;
    transition: all .8s;
}

.left-bottom {
    transform: translateX(-15px) translateY(15px) ;
}

.right-bottom {
    transform: translateX(15px) translateY(15px) ;
}

.right-top {
    transform: translateX(15px) translateY(-15px) ;
}

.left-top {
    transform: translateX(-15px) translateY(-15px);
}

.particle:nth-child(1) {
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    height: 18px;
    width: 18px;
    top: -56vh;
    right: -33vw;
    background: #44d7b6;
}

.particle:nth-child(2) {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    top: -32vh;
    left: -29vw;
    background: #6060d2;
}

.particle:nth-child(3) {
    width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 18px solid #ffd05c;
    top: 0vh;
    left: -34vw;
}

.particle:nth-child(4) {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 2px 8px 0 0 #ec4a5f;
    top: -64vh;
    left: -22vw;
}

.particle:nth-child(5) {
    width: 4px;
    height: 40px;
    border-radius: 8px;
    background: #ffd05c;
    top: -5.4vh;
    right: -25vw;
    /* transform: rotate(30deg); */
}

.particle:nth-child(6) {
    width: 18px;
    height: 18px;
    background: #6060d2;
    top: -46.4vh;
    right: -21.2vw;
}

.particle:nth-child(7) {
    width: 4px;
    height: 32px;
    border-radius: 8px;
    background: #44d7b6;
    top: -18.4vh;
    right: 19.2vw;
}

.particle:nth-child(8) {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 2px 8px 0 0 #ec4a5f;
    top: -22vh;
    right: -39.2vw;
}

.particle:nth-child(9) {
    width: 18px;
    height: 18px;
    border-top-left-radius: 10px;
    background-color: #ffd05c;
    top: -54vh;
    left: -42vw;
}

.particle:nth-child(10) {
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: #44d7b6;
    top: 10vh;
    right: -31.2vw;
}

@media screen and (max-width: 600px) {
    .particle {
        opacity: .82;
    }

    .particle:nth-child(1) {
        top: -77vh;
        right: -33vw;   
    }

    .particle:nth-child(2) {
        top: -22vh;
        left: -49vw;
    }

    .particle:nth-child(3) {
        top: 0vh;
        left: -40vw;
    }

    .particle:nth-child(4) {
        top: -78vh;
        left: -22vw;
    }

    .particle:nth-child(5) {
        height: 30px;
        top: -5.4vh;
        right: -39vw;
    }

    .particle:nth-child(6) {
        top: -56.4vh;
        right: -43.2vw;
    }

    .particle:nth-child(7) {
        display: none;
    }

    .particle:nth-child(8) {
        top: -32vh;
        right: -42.2vw;
    }

    .particle:nth-child(9) {
        top: -54vh;
        left: -47vw;
    }

    .particle:nth-child(10) {
        display: none;
    }
    
    
}