.App {
  text-align: center;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  padding-bottom: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --main-bg-color: #f9f9ff;
  --secondary-bg-color: #FFD15C;
  --main-txt-color: #353353;
  --shadow: #cecece8c;
  --basic-color: #fff;
  --main-padding: 50px;
  --main-horizontal-padding: 150px;
  --main-vertical-padding: 10px;
}
[data-theme='dark'] {
  --main-bg-color: #353353;
  --secondary-bg-color: #FFD15C;
  --basic-color: #302f4e;
  --shadow: #353353;
  --main-txt-color: #fff;
  --main-padding: 50px;
  --main-horizontal-padding: 150px;
  --main-vertical-padding: 10px;
}

@media screen and (max-width: 1024px) {
  :root {
    --main-horizontal-padding: 60px;
  }
  [data-theme='dark'] {
    --main-horizontal-padding: 60px;
  }
}

@media screen and (max-width: 992px) {
  :root {
    --main-horizontal-padding: 30px;
  }
  [data-theme='dark'] {
    --main-horizontal-padding: 30px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --main-horizontal-padding: 15px;
  }
  [data-theme='dark'] {
    --main-horizontal-padding: 15px;
  }
}

