body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-bg-color: #353353;
  --secondary-bg-color: #FFD15C;
  --main-txt-color: #fff;
  --main-padding: 50px;
  --main-horizontal-padding: 150px;
  --main-horizontal-padding-lg: 60px;
  --main-horizontal-padding-md: 30px;
  --main-horizontal-padding-sm: 15px;
  --main-vertical-padding: 10px;
  --mobile: 600px;
}
