body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-bg-color: #353353;
  --secondary-bg-color: #FFD15C;
  --main-txt-color: #fff;
  --main-padding: 50px;
  --main-horizontal-padding: 50px;
  --main-horizontal-padding-md: 30px;
  --main-horizontal-padding-sm: 15px;
  --main-vertical-padding: 20px;
  --mobile: 600px;
}
